header{
    height:7vh;
}

.header-ttl{
    text-align:center;
}

.header-ttl h2{
    font-family:serif;
    font-size:30px;
    color:rgb(110,90,75);
    padding-top:10px;
}

.header-btn{
    text-align:right;
    margin:-60px 30px 0 0;
}

.header-btn a{
    color:burlywood;
    text-decoration:none;
    font-family:serif;
    padding:5px 15px;
    border: 1px solid burlywood;
    cursor:pointer;
}





main{
    height:93vh;
    background-color:oldlace;
}

.register-form-heading{
    text-align:center;
}

.register-form-heading h2{
    font-family:serif;
    font-size:30px;
    color:rgb(110,90,75);
    padding-top:20px;
}

.register-form{
    margin:0 auto;
    width:600px;
    height:70%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color:white;
    border-radius:10px;
}

.register-form-item-content{
    margin-bottom:30px;
}

.register-form-item-label span{
    color:rgb(110,90,75);
    font-family:serif;
    font-weight:bold;
}

.register-form-item input{
    width:350px;
    padding:15px 20px;
    margin-top:10px;
    background-color:whitesmoke;
    border:none;
}

.register-form-btn{
    margin-top:10px;
}

.register-btn{
    color:white;
    font-family:serif;
    background-color: rgb(110, 90, 75);
    border: none;
    padding:5px 20px;
    font-size:15px;
    cursor:pointer;
}

.register-form-error{
    color:red;
}